doctype html
html
  head
    base(href="/")
    link(href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    if ENV == "development"
      script(src="/app/the_app.js")
      script(src="/app/config.js")
      script(src="/app/home.js")
      script(src="/app/nav.js")
      script(src="/app/auth.js")
      script(src="/app/people/person.ctrl.js")
      script(src="/app/people/people.service.js")
      script(src="/app/people/people.ctrl.js")
      script(src="/app/things/thing.ctrl.js")
      script(src="/app/things/things.service.js")
      script(src="/app/things/things.ctrl.js")
    else
      script(src="/all.js")
  body(ng-app="myWorld")
    my-world-nav(show-login-button="true")
        
    .container(style="padding: 10px 0")
      .div(ng-view)
      
    my-world-nav